    /* hex container */
    .hex {
        width: 180px;
        height: 208px;
        overflow: hidden; 
    }

    .hcontainer {
        margin: 9px;
        display: inline-block;
        transform: rotate(120deg);
        visibility: hidden;
    }
    
    .layer1 {
        transform: rotate(120deg);
    }
        
    .layer1 div {
        transform: rotate(120deg);
        visibility: visible;
        background-repeat: no-repeat;
    }
    
        /* images */
    .img-1 {
        background: url('img/Layer-31.png');
        
    }
    
    .img-2 {
        background: url('img/Layer-33.png');
    }
    
    .img-3 {
        background: url('img/Layer-34.png');
    }
    
    .img-4 {
        background: url('img/Layer-35.png');
    }
    
    .img-5 {
        background: url('img/Layer-36.png');
    }
    
    .img-6 { 
        background: url('img/Layer-44.png');
    }
    
    .img-7 {
        background: url('img/Layer-37.png');
    } 
    
    .img-8 {
        background: url('img/Layer-38.png');
    }
    
    .img-9 {
        background: url('img/lLyer-39.png'); 
    }
    
    .img-10 {
        background: url('img/Layer-40.png');
    }
     
    .img-11 {
        background: url('img/Layer-41.png');
    }
    
    .img-12 {
        background: url('img/Layer-43.png');
    }
    
    .img-13 {
        background: url('img/Layer-42.png');
    }